<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-left">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/blog/ART">ART</a></li>
                <li><a href="/blog/FINANCE">FINANCE</a></li>
                <li><a href="/blog/GAMING">GAMING</a></li>
                <li><a href="/blog/MUSIC">MUSIC</a></li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">Sign In</a></li>
                <li><a href="">Sign Up</a></li>
            </ul>
        </div>
    </div>
</div>